/* Google Fonts */
/* font-family: 'Crimson Pro', serif; */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');
/* font-family: 'Inter', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* font-family: "Jost", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Foundation */

:root {
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

a {
    cursor: pointer;
}

/* Typographic Scale */

h1, .h1 {
    font-size: 40px; 
    font-size: calc(0.0625rem * 40);
    margin: 1em 0 0.5em;
    line-height: 1.5;
}

h2, .h2 {
font-size: 32px;
font-size: calc(0.0625rem * 32);
margin: 1em 0 0.5em;
}

h3, .h3 {
font-size: 28px;
font-size: calc(0.0625rem * 28);
margin: 1em 0 0.5em;
}

h4, .h4 {
font-size: 24px;
font-size: calc(0.0625rem * 24);
margin: 1em 0 0.5em;
}

h5, .h5 {
font-size: 20px;
font-size: calc(0.0625rem * 20);
margin: 1em 0 0.5em;
}

h6, .h6 {
font-size: 16px;
font-size: calc(0.0625rem * 16);
margin: 1em 0 0.5em;
}

small, .small {
font-size: 14px;
font-size: calc(0.0625rem * 14);
margin: 1em 0 0.5em;
}

/* My Styles */

.wrapper {
    margin: 3rem;
}

h1 {
    font-family: 'Jost', serif;
    font-size: 2.5rem;
    color: #262626;
    text-align: center;
}

h2 {
    font-family: 'Jost', sans-serif;
    text-align: center;
    font-size: 2.25rem;
    padding-bottom: 2rem;
    margin: auto;
    margin-bottom: 3rem;
    border-bottom: 0.125rem solid #007787;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    padding-bottom: 1rem;
    margin: auto;
    border-bottom: 0.125rem solid #007787;
}

/* PAGE BANNER */

.page-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15rem 4rem;
    height: 100vh;
    width: auto;
    background-image: url(../img/gowlene-speaking.jpeg);
    background-size: cover;
    background-color: #007787;
    background-blend-mode: multiply;
    margin-top: 7rem;
}

.intro h1 {
    color: #fff;
    font-family: 'Jost', serif;
    font-size: 3rem;
    letter-spacing: 0.125rem;
    text-align: center;
    padding: 0.25rem;
}

.intro p {
    color: #fff;
    /* letter-spacing: 0.125rem; */
    text-align: center;
    margin: 0 3rem;
    margin-bottom: 3rem;
    font-size: 1.15rem;
}

.buttons {
    display: flex;
    font-family: 'Jost', sans-serif;
    letter-spacing: 0.0625rem;
}

.button-cv {
    padding: 1rem 3rem;
    margin-right: 0.5rem;
    background-color: #ffdd1e;
    color: #000;
    border-radius: 3rem;
    text-decoration: none;
    border: 0.125rem solid #ffdd1e;
    transition: all 150ms ease-in-out;
}

.button-cv:hover {
    background-color: #262626;
    color: #fff;
    transition: all 150ms ease-in-out;
    border: 0.125rem solid #fff;
}

.button-contact {
    padding: 1rem 3rem;
    margin-left: 0.5rem;
    background-color: #00a1b6;
    border-radius: 3rem;
    color: #000;
    text-decoration: none;
    border: 0.125rem solid #00a1b6;
    transition: all 150ms ease-in-out;
}

.button-contact:hover {
    background-color: #262626;
    color: #fff;
    border: 0.125rem solid #fff;
    transition: all 150ms ease-in-out;
}

/* NAVIGATION */

/* logo */

.logo {
    width: 15rem;
    height: auto;
    padding: 1.5rem;
}

.nav-item {
    font-family: 'Jost', sans-serif;
    font-size: 1.125rem;
    letter-spacing: 0.02rem;
}

.nav-list-item a {
    display: block;    
    text-decoration: none;
    color: #fff;
    padding-bottom: 0.5625rem;
}

.nav-list-item a:hover {
    color: #ffdd1e;
    padding-bottom: 0.5rem;
    border-bottom: 0.0625rem solid #ffdd1e;
    transition: all 100ms ease-in-out;
} 

#home, #cover-letter, #about-me, #portfolio {
    padding-top: 1rem;
    scroll-margin-top: 10rem;
}

/* ABOUT section */

.about-page {
    margin-top: 5rem;
}

.greeting {
    font-family: 'Crimson Pro', serif;
    text-align: left;
    margin: auto 0;
    border: none;
}

.about img {
    float: left;
    margin-right: 1.5rem;
    max-width: 20vw;
    max-height: 20vw;
    border-radius: 2rem;
}

/* PORTFOLIO section */

.portfolio {
    width: 100vw;
    margin: 4rem -3rem -3rem -3rem;
    padding: 3rem 5rem;
    background-color: #F1F9FA;
}

.grid-heading h2 {
    border: none;
    padding: 0;
}

.thumbnails {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.assignment {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    padding: 1rem 1.7rem;
}

.assignment a {
    color: #007787;
}

.assignment a:hover {
    color: #00a1b6;
}

.description {
    text-align: left;
}

.client-projects {
    padding: 0 5rem;
}

.thumbnails img {
    width: 40vw;
    height: auto;
    transition: all 250ms ease-in-out;
}

.student-project img {
    width: 80vw;
    height: auto;
}

.thumbnails img:hover {
    transform: scale(1.1);
    transition: all 250ms ease-in-out;
}

/* FOOTER */

footer a {
    text-decoration: none;
    color: #7cc6d0;
}

footer a:hover {
    text-decoration: underline;
}


/** MEDIA QUERIES

*   Breakpoints (borrowed from Google Chrome)

*

*   XXS = Mobile S = 320px = 20rem

*   XS = Mobile M = 375px = 23.4375rem

*   S = Mobile L = 425px = 25.5625rem

*   M = Tablet = 768px = 48rem

*   L = Laptop = 1024px = 64rem

*   XL = Laptop L = 1440px = 90rem

*   XXL = 4K = 2560px = 160rem

*

*/


/* S = Mobile L = 425px = 25.5625rem */
@media screen and (max-width: 25.5625rem) {
    
    /* PAGE BANNER */
    
    .intro h1 {
        padding: 0 1rem;
        margin-top: 7rem;
        font-size: 2rem;
    }

    .intro p {
        margin-bottom: 1rem;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }

    .button-cv {
        margin-top: 1rem;
    }

    .button-contact {
        margin-top: 1rem;
    }

    /* ABOUT section */

    .about img {
        display: none;
    }

    /* PORTFOLIO section */

    .portfolio {
        padding: 2rem;
    }

    .thumbnails {
        display: block;
        margin: 0 auto;
        padding: 0;
    }

    .thumbnails img {
        width: 80vw;
        padding: 0;
        margin: 0 auto;
    }

    /* MOBILE NAV */
    
    .logo {
        width: 30vw;
        height: auto;
        margin: auto;
        padding: 0.5rem 0;
    }

}

/* M = Tablet = 768px = 48rem */
@media screen and (max-width: 48rem) {

    /* PAGE BANNER */

    .page-banner {
        display: flex;
        padding: 1rem;
        margin-top: 3rem;  
    }

    .intro h1 {
        font-size: 2.5rem;
    }

    .intro p {
        font-size: 1rem;
    }

    .button-cv, .button-contact {
        font-size: 1rem;
    }

    /* PORTFOLIO section */

    .thumbnails {
        display: block;
        margin: 0 auto;
        padding: 0;
    }

    .thumbnails img {
        width: 60vw;
        margin: 0 auto;
    }

    /* MOBILE NAV */

    .main-nav-list {
        font-size: 1rem;
    }

    .nav-bar {
        overflow: scroll; /* make nav bar scroll on smaller screens */
    }
}
    
/* L = Laptop = 1024px = 64rem */

@media screen and (min-width: 48rem) {
    /* COVER LETTER section */
    .cover-letter {
        margin: 5rem 10rem;
    }
}

@media screen and (min-width: 64rem) {

    /* PAGE BANNER */

    .intro h1 {
        font-size: 3rem;
    }

    .intro p {
        font-size: 1.15rem;
    }

    .button-cv, .button-contact {
        font-size: 1rem;
    }

}